<%- include('partials/header'); -%>
<h1>Home</h1>

<div class="row">
    <% posts.forEach(function(post){ %>
        <div class="col-md-6 col-lg-3 "> 
            <div class="card" >
                <div class="card-body">
                    <h1 class="card-title"> <%= post.title %> </h1>
                    <p class="card-text"><%= post.article.substring(0,100) + "..." %><a href="/posts/<%= post.title %>">Read more</a></p>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<a href="/compose" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add A New Post</a>
<%- include('partials/footer'); -%>